



#text-edit{
    padding-bottom: 50px;

}
#text-change1{
    font-family: 'Visby';
    font-style: normal;
    font-weight: 500;
    font-size: 62px;
    line-height: 61px;
    color: #000000;
    margin-bottom: 20px;
}
#text-change2
{
    font-family: 'Visby';
    font-style: normal;
    font-weight: 500;
    font-size: 62px;
    line-height: 61px;
    color: #F76E0B;
    margin-bottom: 20px;
}
.home-bottom-3{
    height: 500px;
    padding-left: 200px;
    padding-right: 200px;
}

.Img-addition{
    display: flex;
    justify-content: center;
}

.small-deets{
    background-color:white;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 800px;
    float: center;
    margin-left: 200px;
}
.sub-class{
    padding-left: 10px;
    padding-right: 10px;
    width: 252px;
    height: 273px;
}


@media only screen and (min-width: 1025px) {
    .mobile-only {
        display:none !important;
    }
} 
@media only screen and (max-width: 1026px) {
    .desktop-only {
        display:none !important;
    }
}



/* mansory */
.row {
    width:100%;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 33.3%; /* IE10 */
    flex: 33.3%;
    max-width: 33.3%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }